
<br><br><br><br>
<div class="row">
   		<h1 class="text-center"> Welcome !! .. Enter an area to search </h1>
</div><br><br><br>
<div class= "row">
	<div class="span1"></div>
	<div class="span4">
			<form class="form-search" action="<%= properties_path %>" method="get">
		  <div class="input-append">
		    <input type="text" class="span5 search-query"
		    onfocus="javascript: if(this.value == 'E.g Taramani'){ this.value = ''; }" 
		    onblur="javascript: if(this.value==''){this.value='E.g Taramani';}" 
		    name="search" value="E.g Taramani">
		    <button type="submit" class="btn"> <i class="icon-search"></i></button>
		  </div>
		</form>
</div>
<br><br><br><br>
<div class="span12">
</div>
</div>